body{
  /* background-image: url("../images/checkers.jpg");   */
  background-color: skyblue;
}

nav, .navbar-light, .bg-light{
  /* background-color: #1e9bd4; */
  background-color: none;
}

.me{
  font-style: italic;
  font-family: "Pacifico", cursive;
  text-shadow: 2px 2px 4px whitesmoke;
}

/* First box */
.containers{
  /* width: 80%; */
  margin: auto;
  min-height: calc(90vh - 70px);
}
.box1{
  /* background-color: #23b2f5; */
  background-color: whitesmoke;
  padding: 20px;
  padding-bottom: 75px;
  padding-top: 50px;
}
.image{
  float: left;
  width: 15%;
  height: 20%;
  margin-right: 20px;
  padding-left: 50px;
}

.about{
  margin-left: 25%;
  margin-right: 25%;
  /* border: 5px hotpink solid; */
  text-align: center; 
  font-family: 'Courgette', cursive;
  text-shadow: none;
}

/* Second Box */
.box2{
  /* background-image: url("../images/checkers.jpg"); */
  background-color: none;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 75px;
}

/* Project Information Box */
.box3{
  background-color: whitesmoke;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 75px;
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
}

.box4{
  background-color: none;
  padding: 20px;
  padding-top: 100px;
  padding-bottom: 75px;
}

/* Project Cards */
.collapsible {

  background-color: whitesmoke;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.actives, .collapsible:hover {
  background-color: azure;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* max-width: 300px; */
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}


.pro {
=======
button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

h3, h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eeeeee;
}
.fa, .fas{
  font-size: 1.5em;
  text-shadow: 2px 2px 4px white;
  color: black;
  /* background-color: yellow; */
  float: right;
  padding: 10px;
  /* width: 30px;
  height: 30px; */
}


   /* footer */
    
   footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
  }

  /* contact page */
  
  #contact-form ul {
    margin-bottom: 20px;
  }
  
  #contact-form li {
    margin-bottom: 10px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #dddddd;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
  }
  .main-section {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: #ffffff;
    border: 1px solid #dddddd;
  }
