
body{
    min-height: 100vh;
    /* background: radial-gradient(transparent, skyblue, transparent); */
}
.containers{
    margin: auto;
    min-height: calc(100vh - 23vh);
}

nav{
    background: skyblue;
}

/* footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #020202;
    text-align: center;
    background: #b4c2d4;
    border-top: 8px solid #013046;
    height: 50px; 
    background: skyblue;
  } */

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  .page-footer{
      background: skyblue;
  }